"*":
  "atom-beautify":
    general:
      _analyticsUserId: "537037e0-2769-4b3f-8d3e-c38cd548cfef"
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Native"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.3
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "64fb32c2-f724-176e-6942-4cce7179ed1f"
  "file-icons":
    coloured: false
    onChanges: true
  linter:
    lintOnFly: false
  "linter-jshint": {}
  react: {}
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace: {}
